
<app-header></app-header>



<div class="container">
    <div class="col-md-12">
        <br><br>

        <app-clientes></app-clientes>

        <app-main-page></app-main-page>


        <!--Vamoa a cultar todo de momento para aplicar lo aprendido y utilizarlo de forma satisfactoria a nuestro desarrollo en spring-->
        <!--
        <br>

        <h3>{{ titulo }}</h3>
        <br>
        <hr>
        <button class="btn btn-outline-primary" (click) ="acumular(+ base )"> Aumentar + {{ base }} </button>
        <br><br>
        <h3>Contador: {{ numero }}</h3>
        <br>
        <button class="btn btn-outline-danger" (click) ="acumular(- base)"> Disminuir - {{ base }}</button>
        <hr>
        <br>

        <h4>Ejemplo de ngFor</h4>
        <hr>
        <table class="table" *ngIf="habilitar == true">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Lenguaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lenguaje of lenguajes ; let indice=index">
                <th scope="row">{{ indice +1 }}</th>
                <td>{{ lenguaje }}</td>
              </tr>
            </tbody>
          </table>

          <br>
          <h5>Ejemplo de ngIf</h5>
          <button class="btn btn-outline-success" (click) ="setHabilitar();">{{ habilitar == true ? "Ocultar" : "Mostrar" }}</button>

-->
    </div>
</div>
