

    <h4><fa-icon [icon]="faClipboardList"></fa-icon> {{ tituloTabla }}</h4>
    <hr>
    <table class="table table-striped table-bordered text-center" *ngIf="tabla== true">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><fa-icon [icon]="faAddressBook"></fa-icon> Nombre</th>
            <th scope="col"><fa-icon [icon]="faAddressBook"></fa-icon> Apellido</th>
            <th scope="col"><fa-icon [icon]="faMailBulk"></fa-icon> Email</th>
            <th scope="col"><fa-icon [icon]="faCalendarAlt"></fa-icon> Fecha de nacimiento</th>
            <th scope="col"><fa-icon [icon]="faCity"></fa-icon> Comuna</th>
            <th scope="col"><fa-icon [icon]="faEdit"></fa-icon> Editar</th>
            <th scope="col"><fa-icon [icon]="faTrashAlt"></fa-icon> Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of Clientes ; let indice = index">
            <td>{{ indice + 1 }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.createAt }}</td>
            <td>{{ cliente.comuna }}</td>
            <td><button class="btn btn-outline-warning form-control" (click)="editar(cliente.nombre,cliente.apellido,cliente.email,cliente.createAt,cliente.comuna,indice)"><fa-icon [icon]="faEdit"></fa-icon> Editar</button></td>
            <td><button class="btn btn-outline-danger form-control" (click)="eliminar(indice)"> <fa-icon [icon]="faTrashAlt"> </fa-icon> Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <hr>

      <!--Zona de alertas para notificaciones en el formulario-->
      <div *ngIf="alertUsuarioAgregado == true" class="alert alert-success" role="alert">
        <p class="text-center">Usuario agregado exitosamente!!</p>
      </div>

      <!--Zona de alertas para notificaciones en el formulario-->
      <div *ngIf="alertUsuarioEliminado == true" class="alert alert-danger" role="alert">
        <p class="text-center">Usuario eliminado exitosamente!!</p>
      </div>

      <!--Zona de alertas para notificaciones en el formulario-->
      <div *ngIf="alertUsuarioModificado == true" class="alert alert-warning" role="alert">
        <p class="text-center">Usuario modificado exitosamente!!</p>
      </div>

      <br>

      <button class="btn btn-success" (click)="agregarUsuarioBtn()"><fa-icon [icon]="faUserPlus"> </fa-icon> Agregar Usuario</button>
      <!--Este boton lo hice solo a mado de prueba para validar distintos textos y colores dependiendo de un evento-->
      <!--<button class="btn btn-primary" (click)="ocultarTabla()"><fa-icon [icon]="faEyeSlash"> </fa-icon> {{ textoBoton }}</button>-->
      <button class="btn btn-secondary" (click)="limpiarAlertas()"><fa-icon [icon]="faHandSparkles"> </fa-icon> Limpiar Notificaciones</button>
      <!--Este boton va a generar una peticion de tipo request-->
      <td><button class="btn btn-outline-success form-control" (click)="requestHttp()"> <fa-icon [icon]="faTrashAlt"> </fa-icon> Crear Request Http</button></td>

      <br><br><br>




      <!--Div para agregar usuarios-->
      <div *ngIf="divFormularioAgregarUsuario == true" class="row">
        <div class="col-md-6">
          <h4><fa-icon [icon]="faPlusSquare"></fa-icon> Agregar Usuario</h4>
          <br>
          <!--Con ngSubmit evito que la pagina haga un refresh cada vez que presiono un boton dentro del formulario-->
          <form (ngSubmit)="agregarUsuario()">
            <!--ngModel  se coloca con [] para que se asocie a un valor de la clase ts y () para que escuche el evento al cambiar el valor del input-->
            <!--Al ocupar ngMOdel necesita obligadamente la propiedad name del html-->
            <label><fa-icon [icon]="faAddressBook"></fa-icon> Nombre</label><br>
            <input type="text" class="form-control" placeholder="Ingrese su nombre" name="nombre" [(ngModel)]="nombre" autocomplete="off"><br>
            <label><fa-icon [icon]="faAddressBook"></fa-icon> Apellido</label><br>
            <input type="text" class="form-control" placeholder="Ingrese su apellido" name="apellido" [(ngModel)]="apellido" autocomplete="off"><br>
            <label><fa-icon [icon]="faMailBulk"></fa-icon> Email</label><br>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Ingrese su email" name="email" [(ngModel)]="email" autocomplete="off">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" placeholder="Ingrese su servidor de correo" name="servidorCorreo" [(ngModel)]="serverMail" autocomplete="off">
            </div>
            <label><fa-icon [icon]="faCalendarAlt"></fa-icon> Fecha de nacimiento</label><br>
            <input type="date" class="form-control" placeholder="Ingrese su fecha de nacimiento" name="createAt" [(ngModel)]="createAt"><br>
            <label><fa-icon [icon]="faCity"></fa-icon> Comuna</label><br>
            <select name="comuna" class="form-control" [(ngModel)]="comuna">
              <option *ngFor="let item of comunas" value="{{ item }}"> {{ item }} </option>
            </select><br>
            <!--Zona de alertas para notificaciones en el formulario-->
            <div *ngIf="alertFaltanCamposFormulario == true" class="alert alert-danger" role="alert">
              <p class="text-center">Debes ingresar todos los campos en el formulario!!</p>
            </div>
            <button class="btn btn-success form-control"><fa-icon [icon]="faPlusSquare"></fa-icon> Guardar usuario</button>
          </form>
          <br>
          <button class="btn btn-secondary form-control" (click)="cancelarGuardado()"><fa-icon [icon]="faWindowClose"></fa-icon> Cancelar</button>
        </div>
        <div class="col-md-6"></div>
      </div>

      <!--Div para editar-->
      <div *ngIf="divFormularioEditarUsuario == true" class="row">
          <div class="col-md-6">
          <h4><fa-icon [icon]="faEdit"></fa-icon> Editar Usuario</h4>
          <br>
          <form (ngSubmit)="modificarUsuario()">
            <label><fa-icon [icon]="faAddressBook"></fa-icon> Nombre</label>
            <input type="text" class="form-control" name="nombre" value="{{ nombre }}" [(ngModel)]="nombre" placeholder="Ingrese su nombre" autocomplete="off"><br>
            <label><fa-icon [icon]="faAddressBook"></fa-icon> Apellido</label>
            <input type="text" class="form-control" name="apellido" value="{{ apellido }}" [(ngModel)]="apellido" placeholder="Ingrese su apellido" autocomplete="off"><br>
            <label><fa-icon [icon]="faMailBulk"></fa-icon> Email</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  name="email" value="{{email}}" [(ngModel)]="email" placeholder="Ingrese su email" autocomplete="off">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" name="serverMail" value="{{serverMail}}" [(ngModel)]="serverMail" placeholder="Ingrese su servidor de correo" autocomplete="off">
            </div>
            <label><fa-icon [icon]="faCalendarAlt"></fa-icon> Fecha de nacimiento</label>
            <input type="date" class="form-control" name="createAt" value="{{ createAt }}" [(ngModel)]="createAt" placeholder="Ingrese su fecha de nacimiento" autocomplete="off"><br>
            <label><fa-icon [icon]="faCity"></fa-icon> Comuna</label><br>
            <select name="comuna" class="form-control" [(ngModel)]="comuna">
              <option *ngFor="let item of comunas" value="{{ item }}"> {{ item }} </option>
            </select><br>
            <button class="btn btn-warning form-control"><fa-icon [icon]="faEdit"></fa-icon> Modificar</button>
          </form>
          <br>
          <button class="btn btn-secondary form-control" (click)="cancelarActualizacion()"><fa-icon [icon]="faWindowClose"></fa-icon> Cancelar</button>
        </div>
        <div class="col-md-6"></div>
      </div>




      <br><br><br>

      <!--Tabla para mostrar los registros de SpringBoot-->
      <table class="table table-striped table-bordered text-center" *ngIf="tablaSpringBoot == true">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col"><fa-icon [icon]="faAddressBook"></fa-icon> Nombre</th>
              <th scope="col"><fa-icon [icon]="faAddressBook"></fa-icon> Apellido</th>
              <th scope="col"><fa-icon [icon]="faMailBulk"></fa-icon> Email</th>
              <th scope="col"><fa-icon [icon]="faCalendarAlt"></fa-icon> Fecha de nacimiento</th>
              <th scope="col"><fa-icon [icon]="faCity"></fa-icon> Comuna</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of listaClientesSpringBoot ; let indice = index">
              <td>{{ indice + 1}}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellido }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.createAt }}</td>
              <td>{{ cliente.comuna }}</td>
            </tr>
          </tbody>
        </table>


  <br><br><br>
