

    <h4>{{ tituloTabla }}</h4>
    <table class="table table-striped table-bordered" *ngIf="tabla== true">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><fa-icon [icon]="faAddressBook"></fa-icon> Nombre</th>
            <th scope="col"><fa-icon [icon]="faAddressBook"></fa-icon> Apellido</th>
            <th scope="col"><fa-icon [icon]="faMailBulk"></fa-icon> Email</th>
            <th scope="col"><fa-icon [icon]="faCalendarAlt"></fa-icon> Fecha</th>
            <th scope="col"><fa-icon [icon]="faCity"></fa-icon> Comuna</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of Clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.createAt }}</td>
            <td>{{ cliente.comuna }}</td>
          </tr>
        </tbody>
      </table>

      <br>
      <button class="btn btn-primary" (click)="ocultarTabla()">{{ textoBoton }}</button>
      <br><br>
